<head>
    <title>Hello</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.base url}}/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900|Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src="{{site.baseurl}}/js/demo-1.js"></script>
	<script src="{{site.baseurl}}/js/EasePack.min.js"></script>
    <script src="{{site.baseurl}}/js/rAF.js"></script>
    <script src="{{site.baseurl}}/js/TweenLite.min.js"></script>
    <script src="{{site.baseurl}}/js/smoothscroll.js"></script>
    <script src="{{site.baseurl}}/js/myjs.js"></script>

   
</head>