.bigherotext{
	position: absolute;
	top: 10em;
	z-index: 40;
	left: 2vw;
	margin-left: 2em;
	h3{
		font-size: 8vw;
		color: #000;
		line-height: .9em;
		font-family: 'lato', sans-serif; 
		margin-bottom: 0;
	}

	h1{
		font-size: 15vw;
		color: #000;
		line-height: .9em;
		font-family: 'lato', sans-serif; 
		margin-top: 0;

	}
}
